<h3 class="text-center mt-4">My Projects</h3>
<div class="row" *ngIf="data">
  <div class="Portfolio col-12 col-md-5 col-lg-4 mt-5 mx-md-auto" *ngFor="let project of data.portfolio">
    <img src="{{project.img}}" alt=""> 
    <h5 class="project-name">{{project.name}}</h5>
    <div class="project-hover">
      <div class="project-description">
        <h4 class="text-center">{{project.info}}</h4>
      </div>
      <div class="project-link"><a href="{{project.url}}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
      <div class="project-gihub"><a href="{{project.github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
    </div>
  </div>
</div>