<div class="wrapper" @enteringAnimations (@enteringAnimations.done)="enteringAnimationsEnd()">
  <div class="top">
    <div class="container">
      <h1>Aleksandar Popović</h1>
      <ul class="col-2">
        <li><a href="https://www.linkedin.com/in/aleksandar--popovic/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/drcika" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/drcikaa" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="loader-line"></div>
  <div class="middle">
    <router-outlet></router-outlet>
  </div>
  <div class="bottom">
    <div class="container">
        <h3>Javascript / Angular / Web developer</h3>
        <small class="float-right mt-4 pt-3">© 2018 Copyright: Aleksandar Popovic</small>
    </div>
  </div>
</div>