@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import 'scss/variable';
html {
  height: 100%;
  body {
    color: $color;
    background: $bg-primary url(assets/images/bg-body.jpg);
    height: 100%;
    a {
      color: $color-primary-light;
      &:hover {
        color: $color-primary;
      }
    }
    h1,
    h3,
    h4, h5 {
      font-family: 'Yanone Kaffeesatz';
      color: $color-primary;
      text-shadow: 3px 3px 3px #000;
      font-weight: 400;
    }
    .mat-dialog-container {
      background: $bg-primary;
      border: $border;
      box-shadow: $box-shadow;
    }
  }
}