@import '../../scss/variable';

.container {
  height: 95%;
  overflow: auto;
  background: $bg-black-transparent-light;
  box-shadow: $box-shadow;
  img.img {
    width: 35vmin;
    float: left;
    margin: 10% 5% 0 5%;
  }
  div.summary {
    padding-top: 3%;
  }
  ul.main-skills {
    border: $border;
    box-shadow: inset $box-shadow;
    background: $bg-black-transparent;
    li {
      display: inline-block;
      img {
        float: left;
        width: auto;
        height: 50px
      }
    }
  }
  ul.rest-skills {
    border: $border;
    box-shadow: inset $box-shadow;
    background: $bg-black-transparent;
    li {
      display: inline-block;
      img {
        display: block;
        margin: auto;
        width: auto;
        height: 35px
      }
    }
  }
}

@media (min-width: 768px) {
   ::ng-deep .mat-tab-header-pagination {
    display: none !important;
  }
}