<div class="container" @pageAnimations>
  <mat-tab-group mat-stretch-tabs dynamicHeight *ngIf="data" (selectedTabChange)="tabChanged($event)">

    <mat-tab label="Summary">
      <img class="col-3 rounded-circle" src="{{data.img}}" alt="Aleksandar Popovic web developer">
      <div class="summary col-7 mt-5">
        <h3 class="text-center">Summary</h3>
        <p>
          - A personable, communicative developer, <br> - takes responsibility for he own personal development,<br> - with a passion for development,<br> - continually evaluating and upgrading skills so that stays at the cutting edge of web development.<br>
        </p>
        <h3 class="text-center">Education</h3>
        <p><strong>Web Development</strong> - University of Belgrade,Institute of nuclear Sciences "Vinča", School of computers "Vinča" 2009</p>
      </div>
    </mat-tab>

    <mat-tab label="Skills">
      <h3 class="text-center mt-4">My Skills</h3>
      <ul class="col-7 skills mt-3 mx-auto" *ngIf="data">
        <li *ngFor="let skill of data.skills">
          <em>{{skill}}</em>
          <div class="bar col-5"><span class="expand"></span><span class="expand-anime"></span></div>
          <small class="progres-text float-right">constantly upgrading</small></li>
      </ul>
    </mat-tab>

    <mat-tab label="Portfolio">
      <app-portfolio></app-portfolio>
    </mat-tab>

    <mat-tab label="Contact">

    </mat-tab>

  </mat-tab-group>
</div>